* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --ColorDarkBlue: #28363D;
    --ColorTeal: #2F575D;
    --ColorGreen: #658B6F;
    --ColorLightBlue: #6D9197;
    --ColorTan: #dee1dd;
}

body {
    background-color: var(--ColorDarkBlue);
    color: var(--ColorTan);
    
}

Header {
    padding: 20px;
    background-color: var(--ColorTeal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

Header h1 {
    font-family: ;
}

Header nav ul {
    display: flex;
    list-style: none;
    margin-right: 25px;
}

Header nav ul li {
    font-size: 14pt;
    text-decoration: underline;
    display: inline-block;
    margin-left: 25px;
    }

/* a normal, unvisited link */
a:link {
    color: var(--ColorTan);
}

/* a link the user has visited */
a:visited {
    color: var(--ColorDarkBlue);
}

/* a link when the user hovers over it */
a:hover {
    color: #cdb3d4;
}

/* a link the moment it is clicked */
a:active {
    color: var(--ColorLightBlue);
}

.MainImage {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/Images/leaves.jpg");
    background-size: cover;
    background-position: center;
}

.About {
    background-color: var(--ColorGreen);
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
}

.Work {
    background-color: var(--ColorGreen);
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
}

.Contact {
    background-color: var(--ColorGreen);
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
}

.MainProject {
    display: flex;
}

.OtherProjects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.trees {
    background-image: url("../assets/Images/trees.jpg"); 
    background-size: cover;
    min-height: 200px;
    margin: 20px;
    width: 100%;
}


.water {
    background-image: url("../assets/Images/water.jpg"); 
    background-size: cover;
    min-height: 200px;
    margin: 20px;
    width: 55%;
}

.mountain {
    background-image: url("../assets/Images/mountain.jpg"); 
    background-size: cover;
    min-height: 200px;
    margin: 20px;
    width: 55%;
}

.plant {
    background-image: url("../assets/Images/plant.jpg"); 
    background-size: cover;
    min-height: 200px;
    margin: 20px;
    width: 35%;
}

.flowers {
    background-image: url("../assets/Images/flowers.jpg"); 
    background-size: cover;
    min-height: 200px;
    margin: 20px;
    width: 35%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.Project {
    background-color: var(--ColorLightBlue);
    padding: 10px;
    margin: 15px;
}

.ContactInfo {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 14pt;
    padding: 15px;
}
